body {
	background-color: #333333;
	background-image: url("../images/nesspresso.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.login-col {
	width: 270px;
	margin:250px auto;
}