body {
	background-color: #DCD6CE;
	font-family: "Lato",sans-serif;
}
.header-push{
	background: none repeat scroll 0 0 #FEFAF5;
    border-bottom: 5px solid #F2ECE6;
    color: #616161;
    padding: 10px;
}
.col-3-med{
	border-radius: 6px;
	float: right;
	color: white;

}
.box {
      margin-top: 20px;
	  margin: 250px auto;
	  font-size: 16px;
	  width: 492px;

}
.right {
	float: right;
}
.box-add {
	  margin-top: 0px;
	  margin: 5% auto;
	  width: 800px;

}
.box-index {
	  margin-top: 0px;
	  margin: 5% auto;
	  width: 450px;

}
.box-sec {
	  margin-top: 20px;

	  background: #FFFEFE;
	  border: 2px solid #FFFEFE;
	  border-radius: 6px;
	  padding: 20px;
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.llogo {
	margin: 0 auto 7px;
	width: 214px;
}
.logo {
	margin: 0 auto 25px;
	width: 222px;
}
.search_box{
	margin-top: 20px;
	margin: 250px auto;
	font-size: 16px;
	width: 650px;
	background-color: #fff;
}
.btnx{
	background: #DF5958;
}
.btnx-primary {
  padding: 10px;
  color: white;
  background-color: #DD5C56;
  text-decoration: none;
  font-family: "Lato",sans-serif;
}
.btnx-primary:hover,
.btnx-primary:focus{
  background-color: #FF6964;
  color: white;
}
.btnx-primary:active {
  background-color: #A34340;
  color: white;
}

#file {
	display:none;
}
.select-form{
	border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: none;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    height: 43px;
    padding: 11px 0;
    text-indent: 2px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s;
}
.clear{
	clear:both;
}

.fui-gear:before {
  content: "\e024";
}
.fui-info:before {
  content: "\e016";
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url("../fonts/Flat-UI-Icons.eot");
  src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
.fui-gear,
.fui-info{
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.alert {
	background-color: #F2ECE6;
	border-radius: 6px;
	color: #34495E;
	font-size: 16px;
	line-height: 1.53875em;
	padding: 16px 45px 16px 30px;
	text-shadow: none;
}
.alert-download {


	color: #34495E;
	font-size: 16px;
	line-height: 1.53875em;
	text-align: center;

}
.msg-col {
	width: 270px;
	margin:200px auto;
}
.msg-logo {
	margin: 0 auto 0;
	width: 152px;
}

#cnum{
	background: white url(../images/cnum.png) left no-repeat;
	padding-left: 35px;
}

#ept{
	background: white url(../images/ept.png) right no-repeat;
	padding-right: 35px;
}

