body {
	background-color: #DCD6CE;
}
.header-push{
	margin: 10px;
}
.col-3-med{
	width: 270px;
	float: right;
}
.box {
      margin-top: 20px;
	  margin: 250px auto;
	  font-size: 16px;
	  width: 492px;

}
.logo {
	margin: 0 auto 25px;
	width: 222px;
}